<div>
      <table border="1">
          <tr>
            <th>Placa</th>
          </tr>
          <tr>
            <th>Marca</th>
          </tr>
          <tr> 
            <th>Modelo</th>
          </tr>
          <tr> 
            <th>Fecha Ingreso</th>
          </tr>
          <tr> 
            <th>Fecha Egreso</th>
          </tr>
          <tr> 
            <th>Diagnostico</th>
          </tr>
          <tr> 
            <th>Nombre Cliente</th>
          </tr>
          <tr> 
            <th>Celular Cliente</th>
          </tr>
          <tr> 
            <th>Dias Ingreso</th>
          </tr>
          <tr> 
            <th>Semaforo</th>
          </tr>
      </table>
</div> 
